
*{
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
button{
    cursor: pointer;
    padding: 0.5rem 1rem;
}

/* Top section */

.top{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url(/assets/5649.jpg) rgba(2, 63, 34, 0.792);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}
/* Top-Section Header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
}

.header div{
    display: flex;
    align-items: center;
}
.header div p{
    padding-left: 0.5rem;
    color: white;
}
/* Top-section main  */
.main-top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-height: 60vh;
    padding: 2rem 3rem;
    margin-bottom: 3rem;
}
.main-top p{
    color: #fff;
    margin: 0.5rem 0;
}
.main-top p:first-child{
    font-size: 2.5rem;
    font-weight: lighter;
}

.main-top .p-bold{
    font-weight: bold;
    font-size: 0.8rem;
}
.main-top div{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.main-top button{
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.main-top button:first-child{
    background-color: #018b3d;
    color: #ffffff;
}
.main-top button:last-child{
    background-color: rgba(0,0,0,0);
    color: white;
    border: 1px solid white;
}
/* Middle Section */
.middle{
    background-color:#f4f4f4;
    display: flex;
    flex-direction: column;

}
/* Middle Conatianer */
.mid-container{
    margin: 3rem 4rem;   
}
.mid-container p:first-child{
    font-size: 2rem;
    color: #121212;
    margin-bottom: 0;
    font-weight: bold;
}
.grid-row{
    margin: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img{
    margin-right: 1rem;
}
.item-text p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
    color: #060838;
    
}
.item-text p:last-child{
    color: #121212;
    font-size: 0.8rem;
}
/* Bottom Section */

.bottom{
    min-height: 100%;
    background: url(/assets/pine-watt-2Hzmz15wGik-unsplash.jpg) rgba(2, 63, 34, 0.792);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    color: white;
}
/* Bottom-Inner */
.bottom-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3rem 6rem ;
}
.bottom-inner div{
    flex: 1;
}
.img-container{
    display: flex;
    justify-content: flex-end;
}
.img-container img{
    max-width: 100%;
}
.foot-head{
    width: 80%;
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
}
.foot-description{
    font-size: 0.9rem;
}
.text-container{
    padding-bottom: 3rem;
}
.text-container div p{
    font-size: 1.2rem;
}
.text-container div button{
    border: 0;
    color: white;
    background-color: #276543;
}
.text-container div p::before{
    content: url(/assets/icons8-check-mark.svg);
    vertical-align: middle;
    margin-right: 1rem;
}



@media only screen and (max-width: 850px) {
    .main-top{
        align-items: center;
        text-align: center;
    }
    .main-top p:first-child{
        font-size: 1.5rem;
    }
    .p-bold{
        font-size: 0.7rem;
    }
    .mid-container{
        margin: 2rem 1rem;
    }
    .grid-row{
        margin: 2rem 0;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .bottom-inner{
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }
    .img-container{
       display: none;
    }
    .text-container div button{
        width: 100%;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}

